/* Etiquetas usadas en todos los html */
body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

/* Etiquetas usadas en startmenu html */
.imagen-logo-a{
    position: absolute;
    margin: 40px 1325px 936px 84px;
    
}

.Iniciar-Juegob{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 317px;
    height: 114px;
    left: 561px;
    top: 402px;
    background: #0A3871;
    border-radius: 24px;
    cursor:pointer;
}

#Iniciar-Juegot{
    width: 269px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    padding-top: 20px;
}

.Agregar-Palabrab{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 280px;
    height: 67px;
    left: 579px;
    top: 554px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: #F3F5FC;
    cursor:pointer;
}

#Agregar-Palabrat{
    width: 232px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
}

.Ver-palabrasb{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 280px;
    height: 67px;
    left: 579px;
    top: 654px;
    border: 1px solid #5a8f06;
    border-radius: 24px;
    background: #41ab03;
    cursor:pointer;
}

#Ver-palabrast{
    width: 209px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
}

@media screen and (max-width:770px) and (min-width: 375px){
    .imagen-logo-a{
        position: absolute;
        margin: 75px 697px 902px 40px;
    }
    .Iniciar-Juegob{
        position: absolute;
        width: 317px;
        height: 105px;
        left: 225px;
        top: 460px;
    }
    #Iniciar-Juegot{
        width: 269px;
        height: 57px;
    }
    .Agregar-Palabrab{
        position: absolute;
        width: 304px;
        height: 67px;
        left: 232px;
        top: 603px;
    }
    #Agregar-Palabrat{
        width: 256px;
        height: 19px;
        flex-grow: 1;
    }
    .Ver-palabrasb{
        position: absolute;
        width: 304px;
        height: 67px;
        left: 232px;
        top: 703px;
    }
    #Ver-palabrast{
        width: 256px;
        height: 19px;
        flex-grow: 1;
    }
}
@media screen and (max-width:376px){
    header{
    position: absolute;
    width: 375px;
    height: 96px;
    left: 0px;
    top: 0px;
    }
    .imagen-logo-a{
        position: absolute;
        margin: 24px 327px 595px 16px;
    }
    .Iniciar-Juegob{
        position: absolute;
        width: 317px;
        height: 105px;
        left: 29px;
        top: 281px;
    }
    #Iniciar-Juegot{
        display: flex;
        color: #FFFFFF;
        padding-top: 0px;
        padding-left: 80px;
    }
    .Agregar-Palabrab{
        position: absolute;
        width: 278px;
        height: 67px;
        left: 48px;
        top: 402px;
    }
    #Agregar-Palabrat{
        width: 230px;
        flex-grow: 1;
    }

    .Ver-palabrasb{
        position: absolute;
        width: 278px;
        height: 67px;
        left: 48px;
        top: 502px;
    }
    #Ver-palabrast{
        width: 206px;
        height: 19px;
        flex-grow: 1;
    }
}